<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
      <typeAlias type="com.mega.mvc13.MemberDTO" alias="memberDTO"></typeAlias>
      <typeAlias type="com.mega.mvc13.BbsDTO" alias="bbsVO"></typeAlias>
      <typeAlias type="com.mega.mvc13.PeopleDTO" alias="peopleVO"></typeAlias>
   </typeAliases>
   <mappers>
      <mapper resource="mapper/memberMapper.xml" />
      <mapper resource="mapper/bbsMapper.xml" />
      <mapper resource="mapper/peopleMapper.xml" />
   </mappers>
</configuration>