<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">
	<insert id="add" parameterType="bbsVO">
		insert into BBS values (#{id}, #{title}, #{content}, #{writer})
	</insert>
	<select id="all" resultType="bbsVO">
		select * from BBS
	</select>
	<select id="one"  parameterType="bbsVO" resultType="bbsVO">
		select * from BBS where id = #{id}
	</select>
	<delete id="del"></delete>
	<update id="up"></update>
</mapper>